# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pyenv
.python-version

# AWS credentials
*.pem
*.key
.aws/credentials

# Docker
*.log
docker-compose.yml
docker-compose.override.yml
docker-compose-debug.yml

# Kubernetes
*.yaml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.backup

# Ansible
*.retry

# Helm
*.lock
helm/values.yaml

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# IDEs
.idea/

# System files
.DS_Store
Thumbs.db
